:root {
  --color-texto: #6f6b6b;
  --background-color: #111;
}
.main {
  display: flex;
}

/* ******* NAV ******* */
nav {
  width: 300px;
  min-height: 100vh;
  background-color: var(--background-color);
  border-right: 1px solid #444;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
}
.fa-solid {
  color: var(--color-texto);
}

header .fa-users {
  font-size: 2rem;
  padding: 10px;
  color: #fce7e7;
  background-color: #0c58c2;
  border-radius: 10px;
}

nav ul li {
  margin: 20px 10px;
  padding: 10px;
  list-style: none;
  text-align: centers;
  line-height: 30px;
  border-radius: 10px;
  transition: all 300ms linear;
}

nav ul li:hover {
  background-color: #222;
}

nav ul li:first-child {
  background-color: #222;
}

nav ul li span {
  color: var(--color-texto);
}
nav ul li:first-child span,
nav ul li:first-child .fa-solid {
  color: #2f72ef;
}
nav ul li .fa-solid {
  margin-right: 10px;
}

nav footer {
  margin-top: auto;
  height: 80px;
  padding: 0 30px;
  border-top: 1px solid #333;
  display: flex;
  align-items: center;
}

nav footer .fa-user {
  color: var(--color-texto);
  margin-right: 20px;
  font-size: 1.2rem;
}
nav footer .logout {
  display: flex;
  flex-direction: column;
  min-width: 0; /* permite que flex shrink funcione */
  flex: 1; /* ocupa el espacio disponible sin empujar al ícono */
  overflow: hidden;
}

nav footer .logout p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav footer .logout span {
  color: var(--color-texto);
  text-shadow: 0px 0px 0 #fff;
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav footer .logout span:active{
  white-space: normal;
}

nav footer .fa-arrow-right-from-bracket {
  margin-left: 1.5rem;
  font-size: 1.2rem;
}
nav footer .fa-arrow-right-from-bracket:hover {
  color: #fff;
}

/* *************Main content************************ */

.main-content {
  flex: 1;
}

.main-content header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 22px;
  border-bottom: 2px solid #333;
}

.search {
  border: 1px solid #333;
  width: 15rem;
  height: 2.4rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #222;
  border-radius: 10px;
}

.search input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  color: #fff;
  outline: none;
  font-weight: 600;
}

.search:focus-within {
  border: 1px solid #2f72ef;
}

.cards-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 12px;
  padding: 16px;
}

.cards-images .img {
  overflow: hidden;
  border-radius: 8px;
  aspect-ratio: 3 / 4;
  transition: all 300ms ease;
}

.cards-images .img a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.cards-images .img a .name-model {
  position: absolute;
  color: #ffffff;
  z-index: 999;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 1px 4px #000000cc;
  background: linear-gradient(#42424299, #00000099);
  padding: 0 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.cards-images .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-images .img:hover {
  filter: brightness(0.5);
  box-shadow: 0px 0px 0px 2px #2f72ef;
}
