<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/estilos/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="/estilos/home.css">
    <title>My Escorts 😈😈</title>
</head>
<body>
          <a href="/dashboard">Dashboard</a>

    <div class="main-container">
        <div class="init">
           <i class="fa-solid fa-users"></i>
            <h1>Panel de control</h1>
            <p>Manejo de directorio personal de informacion  </p>
        </div>
        <div class="form-container">
            <div class="encabezado">
                <h2>Bienvenido nuevamente</h2>
                <p>Iniciar sesión en la cuenta como administrador</p>
            </div>
            <form class="formulario">
                <label for="email">Email</label>
                <input type="email" name="email" id="" placeholder="admin@example.com">
                <label for="password">Password</label>
                <input type="password" name="password" id="" placeholder="**********">
                <input type="submit" value="Iniciar sesión">
            </form>
        </div>
    </div>

</body>
</html>