<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/estilos/main.css" />
    <link rel="stylesheet" href="/estilos/dashboard.css" />
    <link rel="stylesheet" href="/estilos/profile.css" />
    <title>Perfil de la persona</title>
  </head>
  <body>
    <div class="main">
      <nav>
        <header class="header">
          <i class="fa-solid fa-users"></i>
          <h3>Panel de Control</h3>
        </header>
        <hr />
        <ul>
          <li>
            <a href="">
              <i class="fa-solid fa-users"></i>
              <span>Ver Contactos</span>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa-solid fa-user-plus"></i>
              <span>Agregar Contacto</span>
            </a>
          </li>
        </ul>

        <footer>
          <i class="fa-regular fa-user"></i>
          <div class="logout">
            <p>Cerrar Sesión</p>
            <span>@correoelectronico</span>
          </div>
          <a href="/">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          </a>
        </footer>
      </nav>
      <section class="main-content">
        <header>
          <section class="profile-header">
            <a href="/dashboard">
              <i class="fa-solid fa-arrow-left"></i>
              Atras
            </a>
            <h2>Renata</h2>
          </section>
          <form class="edit">
            <button type="submit">
              <a href="/edit-profile">
                <i class="fa-solid fa-pen-to-square"></i>
                Editar
              </a>
            </button>
          </form>
        </header>
        <div class="card-data">
          <section class="data-image">
            <img src="/images/1080w.webp" alt="Foto de perfil" />
          </section>
          <section class="data-info">
            <h3>Renata</h3>
            <div class="datos-personales">
              <div class="first-list">
                <ul>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Edad:
                    <span>25 años</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Altura:
                    <span>1.65m</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Medidas:
                    <span>100-60-80</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Zona:
                    <span>Centro</span>
                  </li>
                </ul>
              </div>
              <div class="second">
                <ul>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Zona:
                    <span>Centro</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Horarios:
                    <span>full time</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Contacto:
                    <span>35455354</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-angles-right"></i>
                    Redes:
                    <span>
                      <a
                        href="https://www.instagram.com/renata/"
                        target="_blank"
                      >
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </span>
                    <span>
                      <a href="https://www.facebook.com/renata" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                      </a>
                    </span>

                    <span>
                      <a href="https://www.tiktok.com/@renata" target="_blank">
                        <i class="fa-brands fa-telegram"></i>
                      </a>
                    </span>

                    <span>
                      <a href="https://www.tiktok.com/@renata" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i>
                      </a>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="description">
              <h4>Acerca de mi:</h4>
              <p>
                Soy una persona apasionada por la moda y el estilo, siempre
                buscando nuevas tendencias y formas de expresarme a través de
                mi apariencia. Me encanta experimentar con diferentes looks y
                estilos, y me siento cómoda tanto en ropa casual como en atuendos
                más elegantes. Mi estilo personal es una mezcla de lo clásico y lo
                moderno, con un toque de originalidad que me permite destacar en
                cualquier ocasión.
            </div>
          </section>
        </div>
      </section>
    </div>
  </body>
</html>
